.title{
   width: 50rem;
    max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logout{
  border: none;
  padding: 0.5rem 1rem;
  background-color: #40005d;
  color: white;
  border-radius: 15px;
  margin-right: 1rem;
}