.button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #03620e;
  color: #fff;
  transition: all 0.5s ease;
  padding: 15px;
  border: 0;
  &:hover, &:active{
    background-color: lighten($color: #03620e, $amount: 10);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  &:focus{
    outline: none;
  }
}
